! ******************
! urxvt config
! ******************

URxvt*termName: rxvt-256color

URxvt.font: xft:Hack:size=12, xft:Inconsolata:size=12
XTerm.vt100.faceName: Hack:size=11

URxvt.depth: 32
URxvt.letterSpace: -1

! Window size when launching
URxvt*geometry: 100x35
XTerm.vt100.geometry: 100x35

! Disable scrollbar
URxvt*scrollBar: false
XTerm.vt100.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1

URxvt.perl-ext:
URxvt.perl-ext-common:

! Colors
URxvt*background:   [97]#1c212c
XTerm*background:   #1c212c
*foreground:   #eff0eb
*cursorColor:  #9aedfe

*color0:      #33303b
*color8:      #4f4b58
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #5af78e
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #9aedfe
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb
